/* css reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Css Variables */
:root{
    --h1:59px;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    font-family: 'Baloo Bhai', cursive;
    top: 0px;
    z-index: 1;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0;
    left: 0;
}
#logo{
    /* height: 100px; */
    display: flex;
    width: 70px;
    margin: 2px 2px;
    align-items: center;
    justify-content: center;    
    padding: 1px 30px;
}
#logo img{
    height: 50px;
    margin: 2px 2px;
    border-radius: 10px;

}
nav ul {
    display: flex;

}
nav ul li{
    /* color: white; */
    list-style: none;
    /* text-decoration: none; */
    font-size: 1.4rem;
}
nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    /* font-size: 1.3rem; */
    padding: 3px 20px;
    border-radius: 20px;
}
nav ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section  */
#home{
    display: flex;
    height: 480px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url("../img/img1.jpg")no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 605px    ;
    z-index: -1;
    opacity: 0.89   ;
    top: 0;
    left: 0;
}
/* services section  */

#services{
    margin-bottom: 40px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 40px;
    border-radius: 23px;
    background-color: #f3f3f3;
}
#services .box img{
    height: 150px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif;
    font-weight:lighter;
}
/* Clients section  */
#clint-section{
    height: 100%;
    position: relative;
    /* border: 4px solid red; */
    /* margin-bottom: 34px; */
}
#clint-section::before{
    content: "";
    position: absolute;
    background: url("../img/img2.jpg")no-repeat center center/cover;;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clint-item{
    padding: 90px;
}
#clients img{
    height: 140px;
}

/* contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("../img/contact.jpg")no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box form{
    width: 40%;
    
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}


/* footer  */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* utility */
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Bree Serif', serif;
}
.center{
    text-align: center;
}
.hPrimary{
    font-size: 2.8rem;
    padding: 70px 10px 10px 10px;
    font-family: 'Bree Serif', serif;
}
.hSecondary{
    font-size: 1.7rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #771515;
    color: white;
    margin: 23px;
    font-size: 1.4rem;
    border-radius: 21px;
    /* opacity: 0.9; */
    cursor: pointer;
}


#hMain{
    padding: 0px 10px 40px 10px;
}